<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <span th:text="#{footer.copyright}"></span>
            <label>
                <select class="custom-select" id="select-lang">
                    <option value="eng" th:text="#{footer.language.en}"></option>
                    <option value="pl" th:text="#{footer.language.pl}"></option>
                    <option value="den" th:text="#{footer.language.den}"></option>
                </select>
            </label>
            <span><a th:href="@{/about}" th:text="#{about.name}"></a></span>
            <span><a th:href="@{/help}" th:text="#{help.name}"></a ></span>
        </footer>
    </div>
    <script type="text/javascript" th:src="@{webjars/jquery/3.3.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</div>
</body>
</html>