<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="footer">
        <div class="container">
            <footer>
                <span th:text="#{footer.copyright}"></span>
                <span>
                    <a th:href="@{/about}" th:text="#{about.name}"></a>
                </span>
                <label>
                    <select class="custom-select" id="select-lang">
                        <option value="eng" th:selected="${#locale.getLanguage().toString() == 'en'}" th:text="#{footer.language.en}"></option>
                        <option value="pl" th:selected="${#locale.getLanguage().toString() == 'pl'}" th:text="#{footer.language.pl}"></option>
                        <option disabled value="den" th:selected="${#locale.getLanguage().toString() == 'den'}" th:text="#{footer.language.den}"></option>
                    </select>
                </label>
            </footer>
        </div>
        <script type="text/javascript" th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/lang.js}"></script>
    </div>
</body>

</html>