body{
    position: relative;
    min-height: 100%;
    margin-bottom: 75px;
}

footer{
    position:absolute;
    bottom:0;
    height: 0;
    line-height: 75px;
}

.error-alert{
    padding-top: 20px;
}