html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer{
    position:absolute;
    bottom: 0;
    line-height: 75px;
}

.alert{
    padding-top: 5px;
}