<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <div th:each="product : ${products}">
            <p th:text="${product.getKey().getName()}"></p>
            <p th:text="${product.getValue().toString()}"></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>