<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form autocomplete="off" th:action="@{/login}" class="form-signin" method="POST">
                    <div th:if="${param.logout}">
                        <div class="alert alert-info" th:text="#{login.alert.logged_out}"></div>
                    </div>
                    <fieldset>
                        <h1 th:text="#{login.sign_in}"></h1>
                        <label th:text="#{user.username}"></label>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control input-lg" placeholder="" required="true" autofocus="true"/>
                        </div>
                        <label th:text="#{user.password}"></label>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control input-lg" placeholder="" required="true" />
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger" th:text="*{error}"></div>
                        </div>
                        <span th:text="#{login.no_account}"></span>
                        <span>
                            <a th:href="@{/register}" th:text="#{register.button}"></a>
                        </span>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" name="login-sumbit" id="login-sumbit" class="btn btn-lg btn-primary btn-block" th:value="#{user.log_in}" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>