<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" th:object="${productForm}" class="form" method="POST">
                <fieldset>
                    <h1 th:text="#{admin.create.product}"></h1>
                    <div class="form-group">
                        <label th:text="#{product.name}"></label>
                        <input type="text" th:field="*{name}" class="form-control input-lg" title="name" autofocus="true" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.desc}"></label>
                        <input type="text" th:field="*{description}" class="form-control input-lg" title="description" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.image_url}"></label>
                        <input type="url" th:field="*{imageUrl}" class="form-control input-lg" title="imageUrl" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.price}"></label>
                        <input type="search" th:field="*{price}" class="form-control input-lg" title="price" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <input th:if="${method} == 'new'" class="btn btn-outline-dark" type="submit" th:action="@{/product/new}" th:value="#{product.confirm}"/>
                    <input th:if="${method} == 'edit'" class="btn btn-outline-dark" type="submit" th:action="@{/product/edit/{productId}}" th:value="#{product.cancel}"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>